body {
   margin: 0;
   background-color: $color-text-button;
   color: $color-text-primary;
   font-family: 'Roboto', sans-serif;
   letter-spacing: 0.03em;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}
.list {
   padding: 0;
   margin: 0;
   list-style: none;
}

.container {
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;

   @media screen and (min-width: 480px) {
      width: 480px;
   }
      @media screen and (min-width: 768px) {
         width: 768px;
      }
}

.overlay {
   max-width: 1600px;
   height: 400px;
   margin-left: auto;
   margin-right: auto;
   background-image: linear-gradient(to right,
         $gradient-background-hero,
         $gradient-background-hero ),
      url(../images/hero-background.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.button {
   background-color: $color-text-accent;
   color: $color-text-button;
   border: 1px solid transparent;
   border-radius: 4px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   cursor: pointer;
}

.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}