.menu-toggle {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 40px;
   min-height: 40px;
   // margin: 0;
   margin-left: auto;
   padding: 0;
   border: none;
   background-color: transparent;
   cursor: pointer;
   outline: none;
   fill: $color-logo-dark;
   @media screen and (min-width:768px) {
      display: none;
   }
}
.menu-toggle:hover,
.menu-toggle:focus {
   fill: $color-text-accent;
}
.menu-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 796px;
   border: 2px solid tomato;
   z-index: 999;
   transform: translateX(100%);
}
.menu-container.is-open {
   transform: translateX(0);
}