.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   padding: 40px;
   transform: translate(-50%, -50%) scale(1);
   opacity: 1;
   min-height: 581px;
   min-width: 528px;
   background: $color-text-button;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
   @include transition(transform);
   @include transition(opacity);

   // transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
   //    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .backdrop.is-hidden & {
            transform: scale(1.1) translate(-50%, -50%);
            opacity: 0;
         }
}

.modal__btn {
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: $color-text-button;
   border: 1px solid rgba(0, 0, 0, 0.1);
   cursor: pointer;
   @include transition(fill);
   // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
         fill: $color-text-accent;
      }
}

