.breadcrumb {
   display: flex;
   align-items: center;
   width: 100%;
}

.breadcrumb__list {
   display: flex;
   @media screen and (max-width: 767px) {
      display: none;
   }
}
@media screen and (min-width: 768px) {
.breadcrumb__item:not(:last-child) {
      margin-right: 50px;
   }
}



.breadcrumb__link {
   display: block;
   color: $color-text-title;
   font-weight: 500;
   font-size: 40px;
   line-height: 1.175;
   letter-spacing: 0.02em;
   text-decoration: none;
   @include transition(color);

   &:hover,
   &:focus {
      color: $color-text-accent;
   }
   &--current {
      color: $color-text-accent;
   }
   @media screen and (min-width: 768px) {
      padding-bottom: 32px;
      padding-top: 32px;
      font-size: 14px;
      line-height: 1.14;
   }
}
@media screen and (max-width: 767px) {
   .breadcrumb__item:not(:last-child) {
         padding-bottom: 32px;
      }
   .breadcrumb__item:last-child {
         margin-bottom: 302px;
      }
}


.breadcrumb__current {
   position: relative;

   &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $color-text-accent;
      border-radius: 2px;
   }
}


