.breadcrumb {
   display: flex;
   align-items: center;
}

.breadcrumb__list {
   display: flex;
}

.breadcrumb__item:not(:last-child) {
   margin-right: 50px;
}

.breadcrumb__link {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   color: $color-text-title;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
   @include transition(color);

   &:hover,
   &:focus {
      color: $color-text-accent;
   }
}


.breadcrumb__current {
   position: relative;
   color: $color-text-accent;

   &::after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: '';
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: $color-text-accent;
      border-radius: 2px;
   }
}
