.projects {
   display: flex;
   flex-wrap: wrap;
   margin-right: -30px;
   margin-bottom: -30px;
}

.projects__item {
   flex-basis: calc(100% / 3 - 30px);
   margin-right: 30px;
   margin-bottom: 30px;
}

.projects__box {
   padding: 20px 24px;
   border: 1px solid $color-border-project;
}

.projects__title {
   margin-bottom: 4px;
   color: $color-text-title;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
}

.projects__text {
   color: $color-text-primary;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
}

.projects__link {
   display: block;
   background-color: $color-text-button;
   text-decoration: none;
   @include transition(box-shadow);
   &:hover,
   &:focus {
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
 }
}

.projects__img {
   position: relative;
   overflow: hidden;
}

.project-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   padding: 63px 24px;
   background-color: $color-overlay;
   transform: translateY(100%);
   @include transition(transform);
   .projects__link:hover &,
   .projects__link:focus & {
         transform: translateY(0);
      }
}
.project-overlay__text {
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: $color-text-button;
}