.selection {
   display: flex;
   justify-content: center;
   margin-bottom: 50px;
}

.selection__button {
   display: inline-block;
   padding: 6px 22px;
   min-width: 73px;
   color: $color-text-title;
   background-color: $color-background-section;
   box-shadow: none;
   font-weight: 500;
   line-height: 1.63;
   letter-spacing: 0.03em;
   @include transition(color);
   @include transition(background-color);
   @include transition(box-shadow);
     
   &:hover,
   &:focus {
         color: $color-text-button;
         background-color: $color-text-accent;
         box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
      }
}

.selection__item:not(:last-child) {
   margin-right: 8px;
}

